<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490101077987-o006vehjh2i244ivlft70c2rpv88hjde.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490101077987-o006vehjh2i244ivlft70c2rpv88hjde</string>
	<key>API_KEY</key>
	<string>AIzaSyA38dWR4b_yCOZ_m7pbJjD4ivQPtVt8m8k</string>
	<key>GCM_SENDER_ID</key>
	<string>490101077987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tappler.app</string>
	<key>PROJECT_ID</key>
	<string>tappler-9c099</string>
	<key>STORAGE_BUCKET</key>
	<string>tappler-9c099.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490101077987:ios:4fabffe8cf1c59250a92d6</string>
</dict>
</plist>